@page "/MyData"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Gamestop forecast</h1>



@if (String.IsNullOrEmpty(name))
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Name</p>
    <p>@name</p>
}

@code {
    private String name;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //name = await Http.GetFromJsonAsync<string>("/api/MyFunction?name=" +"Abhay");
            name = await Http.GetFromJsonAsync<String>("/api/MyFunction");

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}